<form>
	<div class="box-body">
		<field id='name' model='bcCtrl.billingCycle.name' readonly='bcCtrl.tabDelete' label='Nome' required='true' grid='12 6 4' placeholder='Informe o Nome'></field>
		<field id='month' model='bcCtrl.billingCycle.month' readonly='bcCtrl.tabDelete' label='Mês' grid='12 6 4' placeholder='Informe o Mês' type='number'></field>
		<field id='year' model='bcCtrl.billingCycle.year' readonly='bcCtrl.tabDelete' label='Ano' grid='12 6 4' placeholder='Informe o Ano' type='number'></field>

		<div class="col-xs-12">
			<fieldset>
				<legend>Resumo</legend>
				<div ng-include="'billingCycles/summary.html'"></div>
			</fieldset>
		</div>


		<div class="col-xs-12 col-sm-12 col-md-6">
			<fieldset>
				<legend>Créditos</legend>
				<div ng-include='"billingCycles/creditList.html"'></div>
			</fieldset>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6">
			<fieldset>
				<legend>Débitos</legend>
				<div ng-include='"billingCycles/debtList.html"'></div>
			</fieldset>
		</div>
	</div>
	<div class="box-footer">
		<button class="btn btn-primary" ng-if='!bcCtrl.tabUpdate && !bcCtrl.tabDelete' ng-click="bcCtrl.create()">Incluir</button>
		<button ng-if='bcCtrl.tabUpdate' class="btn btn-info" ng-click="bcCtrl.update()">Alterar</button>
		<button ng-if='bcCtrl.tabDelete' class="btn btn-danger" ng-click="bcCtrl.delete()">Excluir</button>
		<button class="btn btn-default" ng-click="bcCtrl.refresh(true)">Cancelar</button>
	</div>
</form>